<%- include("partials/header") %> 

<h1>This is the homepage</h1>
<img src="https://cdn0.wideopenpets.com/wp-content/uploads/2018/02/AdobeStock_109255057.jpg" alt="tabby cat">

<%- include("partials/footer") %> 
