<!-- ejs - embedded javascript -->

<h1>You fell in love with <%=thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase()==="coco"){%>
    <p>Damn right you do</p>
<% } %>
<%else{%>
    <p>You should have said coco</p>
<% } %>
<!-- <%= %> : Outputs HTML value :this will put the return value in html -->
<!-- <% %>  : No output tag :this is for logic -->
<!-- check ejs extension -->
